/* variables for using everywhere */

:root {
  --pseudo_wt_05: #212121;
  --wt_05: rgba(255, 255, 255, 0.05);
  --wt_11: rgba(255, 255, 255, 0.11);
  --wt_12: rgba(255, 255, 255, 0.12);
  --wt_14: rgba(255, 255, 255, 0.14);
  --wt_15: rgba(255, 255, 255, 0.15);
  --wt_16: rgba(255, 255, 255, 0.16);
}